.about {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: #ffffff;
}

p {
  margin: 0;
}

.about p {
  justify-content: center;
  color: #d6b73e;
  line-height: 1.6;
  font-size: 32px;
  font-weight: 600;
  padding: 10vw 16vw;
}

@media screen and (max-width: 850px) {
  .about p {
    font-size: 22px;
  }
}
