.projects {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10vw 0;
}

.project {
  display: flex;
  align-items: center;
  margin: 5vw 0;
}

.text {
  order: -1;
  align-items: center;
  margin-left: 10vw;
  text-align: right;
}

.project img {
  order: 1;
  margin: 0 5vw;
  width: 50%;
}

.pj2 img {
  order: -2;
}

.pj2 .text {
  margin: initial;
  margin-right: 10vw;
  text-align: left;
}

.rectangle1 {
  z-index: -1;
  width: 21vw;
  height: 70vh;
  background: #80808013;
  position: absolute;
  right: 0;
}

.rectangle2 {
  z-index: -1;
  width: 21vw;
  height: 70vh;
  background: #80808013;
  position: absolute;
  left: 0;
  order: -5;
}

.rectangle3 {
  z-index: -1;
  width: 21vw;
  height: 70vh;
  background: #80808013;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 850px) {
  .projects {
    display: block;
    overflow-x: hidden;
    padding-top: 10vw;
  }

  .project {
    display: block;
    margin: 25vw 0;
  }

  .pj1 {
    margin-top: 10vw;
  }

  .text {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center !important;
  }

  .pj2 .text {
    margin: 0 auto;
  }

  .project img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
