.services {
  padding: 0 10vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px 0;
}

.services h1 {
  color: #fff;
}

.services h2 {
  margin: 2.2vw 0 0.5vw 0;
  color: #313131;
  text-align: center;
}

.column {
  z-index: 1;
  text-align: center;
  flex: 1;
  padding: 20px;
}

.column i {
  padding: 1.5vw;
  position: relative;
  background: white;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: #fedc56;
  padding: 5vw 0;
}

.services i {
  position: relative;
  color: grey;
}

.services p {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 15vw 0;
    overflow-x: hidden;
    text-align: center;
  }

  .services {
    display: block;
  }

  .services .column {
    margin: 0 auto;
    padding-top: 5vw;
  }

  .services h2 {
    font-size: 24px;
    margin: 10px 0;
  }
}
